@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/GolosText-Regular.woff") format("woff2");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}

body {
  font-family: Montserrat-Regular;
}
.btn {
  height: 40px;
  border: none !important;
  border-radius: 100px;
  font-family: Montserrat-Medium;
  font-size: 16px;
  line-height: 20px;
}
/* header */

.header-body {
  background: #fff;
}

.main-menu a {
  font-family: Montserrat-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #333333;
}

.main-menu a:hover {
  color: #BD3A34;
  text-decoration: none;
}

.header-phones__inner {
  font-family: Montserrat-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

}

.btn-border.callme-button {
  border: 1px solid #9E9E9E !important;
  border-radius: 100px;
  height: 48px;
  padding: 0 60px;
  font-family: Montserrat-Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #333333 !important;
  background: transparent;
}

.catalog-inner-btn {
  background: transparent;
  color: #333333;
  border: 1px solid #9E9E9E;
  border-radius: 100px;
  font-family: Montserrat-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  transition: all .3s ease-in-out;
}

.btn-border.callme-button:hover,
.catalog-inner-btn:hover {
  background: #BD3A34 !important;
  color: #fff !important;
  border: none !important;

}

[data-fancybox] {
  cursor: pointer;
}

.burger,
.burger:before,
.burger:after {
  background: #333333;
}

.catalog-inner-btn:hover .burger,
.catalog-inner-btn:hover .burger:before,
.catalog-inner-btn:hover .burger:after {
  background: #fff;
}

.header-search input {
  background: transparent;
  border: none;
  font-family: Montserrat-Medium !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #9E9E9E;

}

.header-search input::placeholder {
  color: #9E9E9E;
}

.header-search {
  border: 1px solid #9E9E9E;
  border-radius: 100px;
  max-width: 460px;
  align-items: center;
  padding-right: 3px;
}

.header-search button {
  background: #BD3A34;
  width: 42px;
  height: 42px;
  border-radius: 50px;
}
.header-search button:hover {
  background: #9C2A25;

}

.header-user__link {
  font-family: Montserrat-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #333333;
}

.header-user__link svg {
  max-width: 22px;
  max-height: 24px;
}

.header-comparison .comparison-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  width: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #333333;
  border-radius: 50%;
  color: #fff;
  font-family: Golos;
  font-size: 12px;
  font-weight: 400;
  -webkit-transition: .5s;
  transition: .5s;
}

.header-comparison {
  margin-left: 16px;
  display: flex;
  gap: 15px;
}

.header-comparison svg {
  max-width: 16px;
  max-height: 21px;
}

.header-cart {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.header-cart span.cart-number {
  background: #BD3A34;
  font-family: Golos;
  font-size: 12px;
  font-weight: 400;
}

.header-cart svg {
  max-width: 30px;
  max-height: 28px;
}

/* banner under offer */

.banner-under-offer .banner-item__container {
  background: #F1F1F1;
  border-radius: 25px;
  position: relative;
  min-height: 185px;
}
.banner-under-offer .content-background-box__text-content {
  height: 100%;
  padding: 0;
}
.banner-under-offer .banner-item__container .banner-item__image {
  position: absolute;
  right: 0px;
  bottom: 0;
}
.banner-item__image-1 {
  width: 134px;
}
.banner-item__image-2 {
  width: 140px;
}
.banner-item__image-3 {
  width: 80%;
}
.banner-under-offer .banner-item__container .banner-item__image img {
  height: auto;
  max-width: 100%;
}
.banner-under-offer .banner-item__link {
  display: block;
  height: 100%;
  padding: 20px;
}
.banner-under-offer .banner-item__text {
  font-family: Montserrat-ExtraBoldItalic;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
}
.banner-under-offer .banner-item__text div {
  color: #BD3A34;
}
.banner-under-offer .column-gap-grid {
  column-gap: 25px !important;
}
@media(max-width: 991px) {
  .banner-under-offer .banner-item__text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media(max-width: 767px) {
  .banner-under-offer .content-background-box:nth-child(3) {
    grid-column: span 2;
  }
  .banner-under-offer .column-gap-grid {
    column-gap: 13px !important;
  }
  .banner-under-offer .row-gap-25 {
    row-gap: 13px !important;
}

.banner-item__image-3 {
  width: 300px;
}
.banner-under-offer .content-background-box:nth-child(-n+2) .content-background-box__container {
  min-height: 215px;
}

.banner-under-offer .banner-item__link {
  padding: 16px;
}
}

/* product-set-slider */

section.product-set-slider {
  margin-top: 80px;
}

.section__bg {
  border-radius: 25px;
  padding: 48px 40px 40px 40px;
}

.set-hit__bg {
  background: linear-gradient(100.69deg, #FF0000 34.75%, #BD3A34 105.65%);
}

.product-set__title {
  font-family: Montserrat-ExtraBoldItalic;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000;
}

.product-set__title span {
  color: #fff;
}

.set-hit button {
  color: #fff;
  border-color: #fff;
}

.product-set-slider .product-card-v2_hover {
  border-radius: 25px;
  background: #fff;
}

.product-card-v2__image {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.product-card-v2__image .image {
  border-radius: 20px;
  background: #F5F5F5;
}

.product-set-slider .card-label {
  padding: 3px 9px;
  border-radius: 100px;
  line-height: 12px;
  min-width: 46px;
}

.product-set-slider .product-card-v2_hover .product-card-v2__labels {
  left: 15px;
  top: 15px;
  gap: 1px;
}

.product-set-slider .product-card-sell-badge_bottom {
  width: 46px;
  left: 15px;
  bottom: 5px;
}

.product-set-slider .product-card-v2__content {
  border-radius: 20px;
}

.product-set-slider .product-card-v2_hover .product-card-v2__pricing {
  flex-direction: column;
  align-items: start;
}

.product-set-slider .product-card-v2__buttons.buttons-cart {
  opacity: 0;
  transition: .4s;
}

.product-set-slider .product-card-v2_hover:hover .product-card-v2__buttons.buttons-cart {
  opacity: 1;
}

.product-card-v2_hover .product-card-v2__content {
  padding-bottom: 16px;
  height: 190px;
}

.product-set-slider .product-card-v2_hover:hover .product-card-v2_hover .product-card-v2__content {
  padding-bottom: 70px;
}

.product-set-slider .product-card-v2_hover:hover .product-card-v2__content {
  height: 265px;
}

.product-set-slider .product-card-v2_hover .product-card-v2__pricing {
  bottom: auto;
}

.product-set-slider .product-card-v2_hover .product-card-v2__title {
  font-size: 16px;
  color: #333333;

}

.product-card-v2_hover:hover .product-card-v2__title {
  height: 70px;
}

.product-item__status--many {
  color: #4FA22E;
  font-size: 12px;
  line-height: 12px;
}

.product-card-v2__pricing-txt {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
}

.product-card-v2__pricing-txt.price-text-ordinary {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  color: #969696;

}

.product-card-v2_hover .product-card-v2__price.text-color-accent {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #969696;
}

.product-card-v2_hover .product-card-v2__price {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
}

.product-card-v2__title {
  margin-bottom: 4px;
}

.product-item__status {
  margin-bottom: 14px;
}

.product-card-sell-badge {
  background: linear-gradient(270deg, #D00400 0%, #AD0300 50%, #500200 100%);
}

.product-card-v2 .input-number {
  border: 1px solid #DDDDDD;
  border-radius: 100px;
  max-width: 100px;
  min-width: 100px;
}

.product-card-v2 .input-number .order-down:before {
  height: 2px;
  width: 14px;
  background: #000000;
}

.product-card-v2 .input-number input[type=number] {
  font-family: Golos !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.product-card-v2 .input-number .order-up:before {
  width: 2px;
  height: 14px;
  background: #000000;
}

.product-card-v2 .input-number .order-up:after {
  width: 14px;
  height: 2px;
  background: #000000;
}

.st-button_add-to-cart {
  background: #BD3A34;
  border: none;
  border-radius: 100px;
  padding: 0;
}

.st-button:hover {
  background: #9C2A25;
}

.st-button_add-to-cart {
  max-width: 48px;
  max-height: 48px;
  min-height: 48px;
}

.product-card-v2__buttons {
  justify-content: space-between;
}

.product-card-v2_hover {
  padding-bottom: 190px;
}

.st-button_muted {
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #9E9E9E;
}

.st-button_muted .st-button__title {
  color: #333333;
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.st-button_muted:hover {
  background: #BD3A34;

}

.st-button_muted:hover .st-button__title {
  color: #fff;
}

.set-hit .slider-constructor .slick-arrow:hover {
  background: #FFFFFF33;

}

@media(min-width: 768px) {
  .product-item__art {
    display: none;
  }

  .slider-constructor .slick-arrow {
    min-width: 48px;
    min-height: 48px;
    height: 48px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
  }

  .slider-constructor .slick-prev {
    right: 60px;
  }
}

@media(max-width: 767px) {
  .section__bg {
    padding: 20px 16px;
  }

  .product-card-v2 {
    flex-direction: row;
    padding-bottom: 8px;
    align-items: flex-start;
    overflow: visible;
  }

  .product-set-slider .product-card-v2__buttons.buttons-cart {
    opacity: 1;
    justify-content: flex-end;
    bottom: 0px;
  }

  .product-set-slider .product-card-v2_hover .product-card-v2__title {
    font-size: 14px;
    line-height: 16px;
  }

  .product-item__status--many {
    font-size: 11px;
    line-height: 11px;
  }

  .product-card-v2_hover .product-card-v2__price.text-color-accent {
    font-size: 12px;
    line-height: 12px;
  }

  .product-card-v2_hover .product-card-v2__price {
    font-size: 20px;
    line-height: 20px;
  }

  .product-card-v2__image {
    max-width: 135px;
    min-width: 135px;
    max-height: 180px;
    min-height: 180px;
    overflow: visible;
  }

  .product-card-v2__content {
    padding: 8px;
    padding-bottom: 0px !important;
  }

  .product-item__art {
    font-size: 11px;
    line-height: 11px;
  }

  .product-card-v2_hover .product-card-v2__content {
    background: transparent;
  }

  .product-set-slider .product-card-v2_hover .product-card-v2__labels,
  .product-set-slider .product-card-sell-badge_bottom {
    left: -5px;
  }

  .product-card-v2_hover .product-card-v2__buttons.buttons-not-available {
    bottom: -50px !important;
  }

  .product-card-v2_hover:hover .product-card-v2__title {
    height: auto;
  }

  .product-set__title {
    font-size: 18px;
  }

  .product-set__title {
    margin-bottom: 25px;
  }

  .product-card-v2_hover .product-card-v2__title {
    max-height: 67px;
    height: auto;
  }

  .set-hit .slider-constructor .slick-arrow {
    border: 2px solid #FFFFFF;
  }

  .product-set-slider .catalog-btn {
    width: 100%;
  }
}

@media (max-width: 575.98px) {

  .slider-constructor .slick-next,
  .slider-constructor .slick-prev {
    display: flex !important;
  }

  .slider-constructor {
    padding-top: 0px;
  }
}

.slider-constructor:not([data-no-arrows]) .slick-dots {
  display: none !important;
}

@media(min-width: 576px) and (max-width: 767px) {
  .product-card-v2__image {
    max-width: 160px;
    min-width: 160px;
  }
}

.product-set__button {
  margin-top: 25px;
}

.catalog-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #333333;
  background: #fff;
  border-radius: 100px;
  font-family: Montserrat-Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.catalog-btn:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #FFFFFF;
}

.set-popular-tires__bg,
.set-discs__bg {
  background: linear-gradient(102.17deg, #F5F5F5 -5.66%, #DDDDDD 104.4%);

}

.set-articles__bg {
  background: #EEEEEE;
}

.set-popular-tires .product-set__title span,
.set-articles .product-set__title span,
.set-discs .product-set__title span {
  color: #BD3A34;
}

@media (min-width: 768px) {

  .set-popular-tires .slider-constructor .slick-arrow,
  .set-articles .slider-constructor .slick-arrow,
  .set-discs .slider-constructor .slick-arrow {
    border: 2px solid #595959;
  }
}

@media(max-width: 767px) {

  .set-popular-tires .slider-constructor .slick-arrow,
  .set-articles .slider-constructor .slick-arrow,
  .set-discs .slider-constructor .slick-arrow {
    border: 2px solid #595959;
  }
}

.set-popular-tires .slider-constructor .slick-arrow svg,
.set-articles .slider-constructor .slick-arrow svg,
.set-discs .slider-constructor .slick-arrow svg {
  color: #595959;
}

.set-popular-tires .slider-constructor .slick-arrow:hover,
.set-articles .slider-constructor .slick-arrow:hover,
.set-discs .slider-constructor .slick-arrow:hover {
  background: #59595933;
}

.article-item {
  background: #fff;
  border-radius: 25px;
}

.article-item__link {
  padding: 8px 8px 36px 8px;
  display: flex;
  flex-direction: column;

}

.article-item img {
  width: 100%;
  height: auto;
}

.article-item__content {
  position: relative;
  display: block;
  margin-top: 12px;
  padding-left: 8px;
}

.article-item__content-label {
  position: absolute;
  top: -40px;
  left: 12px;
  background: #FF9F0E;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 19px;
  font-family: Montserrat-Medium;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 100px;
  color: #fff;
}

.article-item__content-text {
  font-family: Montserrat-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #000;
}

@media(max-width: 767px) {
  .article-item__link {
    flex-direction: row;
    padding: 8px;
  }

  .article-item__content-label {
    position: relative;
    margin-bottom: 6px;
    top: 0;
    left: 0;
    width: 57px;
    height: 17px;
  }

  .article-item__image {
    display: block;
    max-width: 200px;
    aspect-ratio: 252/160;
  }

  .article-item__content {
    padding-left: 11px;
  }
}

@media(max-width: 480px) {
  .article-item__image {
    max-width: 170px;
  }
}

@media(max-width: 420px) {
  .article-item__image {
    max-width: 140px;
  }
}

/* footer */

footer {
  background: #fff;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  color: #000;
}

.footer-contact__number {
  font-family: Montserrat-ExtraBoldItalic;
  font-size: 28px;
  line-height: 39.2px;
}

.footer-contact__link {
  font-family: Montserrat-Medium;
  font-size: 14px;
  line-height: 19.6px;
}

.footer-first-column {
  width: 270px;
}

.footer-content__menu {
  width: calc(100% - 750px);
}

.footer-right {
  width: 290px;
}

@media (max-width: 1280px) {
  .footer-content__menu {
    width: calc(100% - 540px);
  }
}

.footer-content__title {
  color: #000000;
  font-family: Montserrat-ExtraBoldItalic;
  font-size: 14px;
  line-height: 19.6px;

}

.footer-content__column a {
  color: #333333;
  font-family: Montserrat-Medium;
  font-size: 14px;
  line-height: 19.6px;

}

.footer-content__column li {
  margin-bottom: 8px;
}

.footer-content__title span {
  font-family: Montserrat-Medium;
  font-size: 12px;
  line-height: 16px;
  color: #7A7A7A;
  margin-top: 12px;
}

.footer-subscribe {
  flex-direction: column;
  gap: 12px;
}

.footer-subscribe input {
  border: 1px solid #C1C1C1;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  font-family: Montserrat-Medium;
  font-size: 14px;
  line-height: 19.6px;
}

.footer-subscribe button {
  width: 100%;
  height: 40px;
  background: #BD3A34 !important;
  border: none !important;
  border-radius: 100px;
  font-family: Montserrat-Medium;
  font-size: 16px;
  line-height: 20px;
}
.footer-subscribe button:hover {
  background: #9C2A25 !important;

}

.footer-bottom .copy {
  color: #939393;
  font-family: Montserrat-Medium;
  font-size: 12px;
  line-height: 16.8px;

}

.footer-first-column .logo img {
  width: 198px;
}

.footer-privacy-policy {
  color: #919191;
  font-family: Montserrat-Medium;
  font-size: 12px;
  line-height: 16.8px;
}

@media(min-width: 768px) and (max-width: 991px) {
  .footer-right {
    width: 230px;
  }

  .footer-contact__number {
    font-size: 24px;
  }

  .footer-first-column {
    width: 230px;
  }
}

@media(max-width: 767px) {

  .footer-content__menu,
  .footer-first-column {
    width: 100%;
  }

  .footer-right {
    display: none;
  }

  .footer-content__menu {
    margin-bottom: 60px;
  }

  .footer-first-column .logo img {
    max-width: 252px;
    width: 252px;
  }
}

/* форма обратной связи */

section.feedback-form .question-main {
  margin: 0;
  max-width: 100%;
}
.feedback-form .question-form {
  background-color: #EEEEEE !important;
  border: none;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
@media(min-width: 992px) {
  .feedback-form .question-form {
    padding: 40px 272px;
  }
  .feedback-form .question-form:before {
    content: '';
    background: url(../images/feedback-left.svg) no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 256px;
    z-index: 1;
  }
  .feedback-form .question-form:after {
    content: '';
    background: url(../images/feedback-right.svg) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 382px;
    height: 282px;
    z-index: 1;
  }
}
@media(min-width: 991px) and (max-width: 1279px) {
  .feedback-form .question-form {
    padding: 40px 240px;
  }
}

section.feedback-form .form-text {
  position: relative;
  z-index: 2;
}
.feedback-form .question-form form {
  position: relative;
  z-index: 2;
}
section.feedback-form .h2 {
  color: #000;
  font-family: Montserrat-ExtraBoldItalic;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
section.feedback-form .h2 span {
  color: #BD3A34;
}
@media(max-width: 767px) {
  section.feedback-form .h2 {
    font-size: 18px;
  }
}
.form-control {
  border: none;
  border-radius: 10px;
  box-shadow: none;
}
.content-name {
  font-family: Montserrat-Medium;
  font-size: 14px;
  line-height: 19.6px;
}
.form-control:focus+.label-name .content-name {
  color: #626262;
}
.question-main .btn {
  width: 100%;
  background: #BD3A34;
}
.question-main .btn:hover {
  background: #9C2A25;
}
.question-form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.form-control__checkbox {
  border: none;
  position: absolute;
  z-index: 10;
  opacity: 0;
}
.question-form-bottom .custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 6px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  position: relative;
}
.question-form-bottom .custom-checkbox:before {
  content: '';
  background: url(../images/checkbox.svg) no-repeat;
  position: absolute;
  background-size: cover;
  width: 12px;
  height: 9px;
  transform: scale(0);
}
.form-control__checkbox:checked + .custom-checkbox:before {
  transform: scale(1);
}

.question-form-bottom {
  width: 100%;
}
.question-form-bottom .form-group {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.question-form-bottom label {
  font-family: Montserrat-Medium;
  font-size: 14px;
  line-height: 19.6px;
  color: #626262;
}
.form-group:hover label {
  color: #626262;
}

/* .item-3 {
  grid-column: span 2;
} */